<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDRYkj2GjC6Inv8AApou-BeHEJF5VHghlw</string>
	<key>GCM_SENDER_ID</key>
	<string>1082896820969</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>EmirSecer.sosyalmedya2</string>
	<key>PROJECT_ID</key>
	<string>sosyalmedyaapp2</string>
	<key>STORAGE_BUCKET</key>
	<string>sosyalmedyaapp2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1082896820969:ios:1cf1f377b433818c3bde78</string>
</dict>
</plist>